.fd-card__header {
  --fdCard_Background_Color: linear-gradient(165deg, var(--sapAccentColor6) 40%, var(--sapAccentColor1) 100%);
  --sapTile_TitleTextColor: white;
  --sapNeutralTextColor: white;
  --sapContent_TextShadow: none;
  --sapTile_Hover_Background: linear-gradient(165deg, var(--sapAccentColor6) 40%, var(--sapAccentColor1) 100%);
}
